<div class="bg">
    <div class="left-side">
        <div class="informations">
            <p class="title-information">CEP:</p>
            <p class="text-information">{{cepData.name}}</p>
        </div>

        <div class="informations">
            <p class="title-information">INFORMAÇÕES GERAIS:</p>
            <p class="text-information">{{cepData.display_name}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">LATITUDE:</p>
            <p class="text-information" >{{cepData.lat}}</p>
        </div>

        <div class="informations">
            <p class="title-information">LONGITUDE:</p>
            <p class="text-information">{{cepData.lon}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">CIDADE:</p>
            <p class="text-information">{{cepData.address.city}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">REGIÃO:</p>
            <p class="text-information">{{cepData.address.region}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">ESTADO:</p>
            <p class="text-information">{{cepData.address.state}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">PAÍS:</p>
            <p class="text-information">{{cepData.address.country}}</p>
        </div>
    </div>
    
    <div class="right-side">
        <iframe width="800" height="800" frameborder="0" style="border:0" [src]="urlMapa" allowfullscreen></iframe>
    </div>
</div>