<div class="bg">
    <div class="left-side">
        <div class="informations">
            <p>CEP:</p>
            {{cepData.cep}}
        </div>
    
        <div class="informations">
            <p class="title-information">LOGRADOURO:</p>
            <p>{{cepData.logradouro}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">COMPLEMENTO:</p>
            <p>{{cepData.complemento}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">BAIRRO:</p>
            <p>{{cepData.bairro}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">LOCALIDADE:</p>
            <p>{{cepData.localidade}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">UF:</p>
            <p>{{cepData.uf}}</p>
        </div>
    
        <div class="informations">
            <p class="title-information">DDD:</p>
            <p>{{cepData.ddd}}</p>
        </div>
    </div>
    
    <div class="right-side">
        <iframe width="800" height="800" frameborder="0" style="border:0" [src]="urlMapa" allowfullscreen></iframe>
    </div>
</div>